<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Heatmaps</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" src="/static/js/application.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization"></script>
    <script type="text/javascript" src="/static/js/maplabel-compiled.js"></script>
    <script type="text/javascript" src="/static/js/jshashtable-2.1_src.js"></script>
    <script type="text/javascript" src="/static/js/jquery.numberformatter-1.2.3.js"></script>
    <script type="text/javascript" src="/static/js/tmpl.js"></script>
    <script type="text/javascript" src="/static/js/jquery.dependClass-0.1.js"></script>
    <script type="text/javascript" src="/static/js/draggable-0.1.js"></script>
    <script type="text/javascript" src="/static/js/jquery.slider.js"></script>
    <link rel="stylesheet" href="/static/css/jslider.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jslider.blue.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jslider.plastic.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jslider.round.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jslider.round.plastic.css" type="text/css">
    <script>
      var map, pointarray, heatmap;
      var tweets;
      var filteredTweets = new Array();
      var clusters;
      var clusterLabels;
      var minTime, maxTime, timeRange;
      var absoluteMinTime = createdAtToDate("{{ startTime|safe }}");
      var absoluteMaxTime = createdAtToDate("{{ endTime|safe }}");
      var absoluteRange = absoluteMaxTime - absoluteMinTime;
      var currentTime;
      function createdAtToDate (created_at)
      {
        var date = new Date(
            created_at.replace(/^\w+ (\w+) (\d+) ([\d:]+) \+0000 (\d+)$/,
              "$1 $2 $4 $3 UTC"));
        return date;
      }
      function convertDateToUTC(date) {
        return new Date(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(), date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds()); 
      }
      function timeForPercentage (percentage)
      {
        return new Date (absoluteMinTime.getTime() + (percentage * absoluteRange * 0.01));
      }
      function initialize() {

        var mapOptions = {
          zoom: 2,
          center: new google.maps.LatLng(0, 0),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        document.getElementById("timeslider").style.visibility="hidden";
        var slider = document.getElementById("timeslider");
        var rangevalue = document.getElementById("rangevalue");

        slider.addEventListener("input", function() {
            currentTime = new Date (minTime.getTime() + (slider.value*timeRange*0.01));
            rangevalue.value = currentTime;
        }, false); 

        getAllClusters();

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    
  </head>

  <body>
    <div id="map-canvas"></div>
    <div class="panel">
      <div class="container">
        <div class="row">
          <br>
        </div>
        <div class="row">  
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
              <div class="layout-slider col-md-12">
                <input id="Slider5" type="slider" name="area" class="" value="0;100" />
              </div>
              <script type="text/javascript" charset="utf-8">
                jQuery("#Slider5").slider({ from: 0, to: 100, step: 1, dimension: '', limits: false, skin: "round_plastic", calculate: function( value ){
                    return timeForPercentage (value);
                  }, callback: function(value){
                    console.log(value);
                    var array = value.split(';');
                    plotTrends(array[0], array[1]);
                }});
              </script>              
          </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
        <form id="searchForm" name="searchForm" method="post" onsubmit="return search();" role="form">
          {% csrf_token %}
          <br>
          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <div class="input-group input-group-lg">
                <span class="input-group-addon glyphicon glyphicon-search"></span>
                <input type="text" class="form-control input-lg" name="hashtag" id = "hashtag">
                <span class="input-group-btn">
                  <button id = "searchButton" class="btn btn-success btn-lg has-spinner" data-loading-text="Loading..." type="submit">
                    <span class="searchButtonText">Search!</span>
                  </button>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-8 -->
          </div><!-- /.row -->
        </form>
        <br>
        <br>
        <br>
        <div class="row" id="sliderRow">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
              <input class="col-md-12" id = "timeslider" name = "timeslider"  type="range" min="0" max="100" onchange="updateMap(this.value);">
              <output for="timeslider" id="rangevalue"></output>
              <!-- <div id="slider-range"></div> -->
              
          </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
        <br>
        
        
      </div> <!-- /container -->
    </div> <!-- /panel -->
    
  </body>
</html>